---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <p>I am a software engineer living in Vienna Austria.</p>
    <p>
        This is a collection of my thoughts, mostly about learning how to code.
    </p>
    <p>
        I used to be a freelance cameraman and video editor working for austrian
        TV stations creating documentaries of various lengths and formats.
    </p>
</MainLayout>
