---
import { SITE_TITLE } from "../consts";
---

<header class="sticky lg:top-12 top-0">
    <nav>
        <a
            href="/"
            class="font-brand text-2xl tracking-tighter text-emerald-500 flex flex-col gap-0.1"
        >
            <div>GABRIEL</div><div>DANIS_</div>
        </a>
    </nav>
</header>
