---
import HeaderLink from "./HeaderLink.astro";
---

<div class="flex lg:flex-col items-start static top-38 lg:sticky">
    <HeaderLink href="/">About</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
</div>
