---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en" class="bg-neutral-900 font-sans text-neutral-300 text-base">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div
            class="relative gap-y-12 gap-x-24 grid min-h-screen grid-rows-[auto_1fr_auto] grid-cols[1fr] lg:grid-rows-[1fr_auto] lg:grid-cols-[auto_1fr] bg-linear-to-br from-emerald-900/15 to-neutral-900 p-6 sm:p-12"
        >
            <div
                class="flex lg:flex-col justify-between lg:justify-start items-end lg:items-start"
            >
                <Header />
                <Navigation />
            </div>
            <main class="lg:pt-28 pt-8 lg:max-w-3xl">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
