---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en" class="bg-neutral-900 font-sans text-neutral-300 text-base">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div
            class="relative gap-y-12 gap-x-24 grid min-h-dvh grid-rows-[1fr_auto] grid-cols[1fr] lg:grid-rows-[1fr_auto] lg:grid-cols-[auto_1fr] bg-linear-to-br from-emerald-900/15 to-neutral-900 p-6 sm:p-12"
        >
            <nav
                id="site-nav"
                class="drop-shadow-xl lg:drop-shadow-none border-b-neutral-300/15 border-y-0 border-t-0 border-b lg:border-0 transition-transform lg:transition-none duration-300 ease-out will-change-transform fixed lg:static inset-x-0 z-50 px-6 py-4 lg:p-0 sm:px-12 backdrop-blur-lg lg:backdrop-blur-none bg-neutral-950/10 lg:bg-transparent flex lg:flex-col justify-between lg:justify-start items-end lg:items-start"
            >
                <Header />
                <Navigation />
            </nav>
            <main class="lg:pt-28 pt-32 lg:max-w-3xl">
                <slot />
            </main>
            <Footer />
        </div>
        <script>
            let lastScrollY = window.scrollY;
            const nav = document.getElementById("site-nav");
            console.log("nav:", nav);
            function onScroll() {
                console.log("scrolling yo");
                if (nav) {
                    console.log("nav oida");
                    const navHeight = nav.offsetHeight;
                    const currentScrollY = window.scrollY;

                    if (currentScrollY <= navHeight) {
                        nav.style.transform = "translateY(0)";
                    } else if (currentScrollY > lastScrollY) {
                        nav.style.transform = "translateY(-100%)";
                    } else {
                        nav.style.transform = "translateY(0)";
                    }

                    lastScrollY = currentScrollY;
                }
            }

            window.addEventListener("scroll", onScroll, { passive: true });
        </script>
    </body>
</html>
